.homer {
    width: 312px;
    height: 312px;
    background-image: url(homer.jpg);
}
@media (min-width: 1201px) {
	.homer {
		background-position: top left;
	}
}
@media (min-width: 801px) and (max-width: 1200px) {
	.homer {
		background-position: top right;
	}
}
@media (min-width: 401px) and (max-width: 800px) {
	.homer {
		background-position: bottom left;
	}
}
@media (max-width: 400px) {
	.homer {
		background-position: bottom right;
	}
}